.bar {
  border-radius:17px;
  padding:10px;
  background-color:#f2f2f2;
  float:left;
  height: 93vh;
  width:150px;
  border: 5px solid #d9d9d9;
}
html {
    background: #fafafa;
    font-family:  Roboto, sans-serif;
}

.material-icons {
  border-radius:5px;
}
.material-icons:hover {
  background-color:white;
}
.logo:hover {
  background-color:white;
}
.home {
  border-radius:17px;
  padding:10px;
  float:right;
  background-color:#f2f2f2;
  height: 93vh;
  width:85.5%;
  border: 5px solid #d9d9d9;
}
span{
cursor:url("/img/windows-cursor-vector.png") ,default;
}
.timediv {
  border-radius:15px;
  background-color:white;
  width:20%;
  height:400px;
}
