#feedControl {
  margin-top : 20px;
  margin-left: auto;
  margin-right: auto;
  width : 100px;
}
.bar {
  border-radius:17px;
  padding:10px;
  background-color:#f2f2f2;
  float:left;
  height: 93vh;
  width:150px;
  border: 5px solid #d9d9d9;
}
html {
    background: #fafafa;
    font-family:  Roboto, sans-serif;
}
.buts {
  float:left;
  margin-left:100px;
  margin-top:230px;
  width:40%;
  height:200px;
  background-color:white;
}
.mn {
  color:dodgerblue;
  float:left;
  margin-left:50px;
}
.mn:hover {
  color:orange;
}
.mns {
  color:dodgerblue;
  float:left;
  margin-left:10px;
}
.mns:hover {
  color:orange;
}
.bics {
  color:dodgerblue;
  height:40px;
}
.bics:hover {
  color:orange;
}
.logo:hover {
  background-color:white;
}
.home {
  border-radius:17px;
  padding:10px;
  float:right;
  background-color:#f2f2f2;
  height: 93vh;
  width:85.5%;
  border: 5px solid #d9d9d9;
}
span{
cursor:url("/img/windows-cursor-vector.png") ,default;
}
.timediv {
  border-radius:15px;
  background-color:white;
  width:30%;
  height:600px;
}
