.bar {
  border-radius:17px;
  padding:10px;
  background-color:#f2f2f2;
  float:left;
  height:500px;
  width:150px;
  border: 5px solid #d9d9d9;
}
html {
    background: #fafafa;
    font-family:  Roboto, sans-serif;
}
